<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Add an employee</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
    </head>

    <body>
        <h1> Add new employee:</h1>
        
        <form th:action="@{/addEmployee}" th:object="${employeeForm}" method="POST">
            First Name:
            <input type="text" th:field="*{firstName}"/>
            <br/>
            Last Name:
            <input type="text" th:field="*{lastName}"/>
            <br/>
            Address:
            <input type="text" th:field="*{address}"/>
            <br/>
            Position:
            <input type="text" th:field="*{position}"/>
            <br/>
            Country:
            <input type="text" th:field="*{country}"/>
            <br/>
            <input type="submit" value="Create"/>
        </form>
        
        <br/>
        
        <!-- Check if errorMessage is not null or not empty -->
        
        <div th:if="@{errorMessage}" th:text="${errorMessage}" style="color:red;font-style:italic;">
            ...
        </div>
    </body>

</html>
