<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Employee List</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1>Employee List</h1>
        <a href="addEmployee">Add Employee</a>
        <br/><br/>
        <div>
            <table border="1" >
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Position</th>
                    <th>Country</th>
                </tr>
                <tr th:each="employee : ${employees}">
                    <td th:utext="${employee.firstName}">...</td>
                    <td th:utext="${employee.lastName}">...</td>
                    <td th:utext="${employee.address}">...</td>
                    <td th:utext="${employee.position}">...</td>
                    <td th:utext="${employee.country}">...</td>
                </tr>
            </table>
        </div>
    </body>

</html>
