<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

    <head>
        <title>Employee Records</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>

    <body>
        <h1 align="center"> Select Employee Records</h1>
        <h2 aligh="center" th:utext="${message}"></h2>
        
        <a th:href="@{/employeeList}">Employee List</a>
    </body>

</html>
